
body{
    display: flex;
    flex-direction: column;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    
}
.addBtn{
    align-self: center;
    font-size: larger;
    font-weight: 900;
    margin: 22px;
    padding: 16px;
    background-color: rgb(158, 58, 156);
    color: white;
    border-radius: 10px;
    
}

input{
    width: 250px;
    padding: 12px;
    margin-bottom: 12px;

}
.read-checkbox{
    width: 76px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.close{
    margin-left: 100%;
    background-color: red;
    color: white;
    
}
.card-read-checkbox{
    padding: 16px;
    width: 44px;
    height: 20px;
    accent-color: #8d4f35;
}
#read{
    width: 35px;
}

dialog{
    padding: 36px;
    width: 300px;
    
}
.save-book{

    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    margin-top: 12px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(239, 239, 211);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    margin: 16px;
    padding: 22px;
    width: 260px;
}
